@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr: rgb(45, 45, 45);
}

body {
  background: var(--clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
  height: 180px;
  width: 580px;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}
button {
  min-height: 30px;
  min-width: 30px;
  border-radius: 6px;
  border: 0.5px solid var(--clr);
  box-shadow: 1px 0.7px 0 0 rgb(0, 183, 255);
}
.shift {
  width: 80px;
}
.ctrl {
  width: 45px;
}
#space {
  width: 162px;
}
#tab {
  width: 58px;
}
#back {
  width: 58px;
}
#shift2 {
  width: 42px;
}
.icon {
  width: 33px;
}

.row1 {
  padding-bottom: 4px;
}
.row2 {
  padding-bottom: 4px;
}
.row3 {
  padding-bottom: 4px;
}
.row4 {
  padding-bottom: 4px;
}
.row5 {
  padding-bottom: 4px;
}
button:hover {
  background: var(--clr);
  color: rgb(0, 183, 255);
}

.display {
  height: 100px;
  width: 500px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: azure;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-style: bold;
}

.lower {
  text-transform: lowercase;
}
